.at-modal__content {
  min-height: 80px !important;
}

.content-simple {
  font-size: 34px;
  font-weight: normal;
  line-height: 50px;
  text-align: center;
  color: rgba(0, 0, 0, 0.85);
}

.at-modal__action button {
  font-size: 34px !important;
  font-weight: normal;
  line-height: 40px;
  text-align: center;
  color: #000000;
}
